terraform {
  backend "s3" {
    bucket         = "taradome-tfstate-prod"
    key            = "aws/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "taradome-tfstate-locks"
    encrypt        = true
  }
}
